@media (max-width: 1024px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .container .imagem{
    width: 100%;
    height: auto;
  }

  .container .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;

  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 590px) {
  body {
    background: url(../images/bg-mobile.svg) center center no-repeat
      var(--cor-primaria);
    background-size: cover;
    padding: 20px;
    
  }

  .container {
    display: flex;
    flex-direction: column;
    
  }
}
