body {
  background: url(../images/bg-desktop.svg) center center no-repeat
    var(--cor-primaria);
  background-size: cover;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header {
 padding: 25px 50px;
}

.header img {
  width: 150px;
}

.container {
  display: flex;
  padding: 0 50px;
  gap: 50px;
}

.container img {
  width: 100%;
}

.container .info {
  margin-bottom: 30px;
  margin-top: 40px;
  padding-right: 50px;
  color: #ffffff;
}

.container .info h1 {
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.container .info p {
  font-size: 18.5px;
  margin-bottom: 35px;
}

.container .info a {
  background-color: #ffffff;
  padding: 15px 60px;
  border-radius: 50px;
  color: var(--cor-primaria);
  box-shadow: 0 3px 15px #300433;
  transition: 0.3s ease-in-out;
}

.container .info a:hover {
  background-color: var(--cor-secundaria);
  color: #ffffff;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  gap: 15px;
  font-size: 20px;
}

.icons i {
  border: 1px solid;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.icons i:hover {
  color: var(--cor-secundaria);
  cursor: pointer;
}
